<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/flexible/flexible.js?v=@DateTime.Now.ToString()"></script>
    <link href="~/Content/CSS/zui-theme-blue.css" rel="stylesheet" />
    <link href="~/Content/CSS/HomeIndex.css" rel="stylesheet" />
    <link href="~/Content/CSS/pagerstyles.css" rel="stylesheet" />
    <link href="~/Content/CSS/page_head.css?v=@DateTime.Now.ToString()" rel="stylesheet" />
    @Scripts.Render("~/bundles/basejs")
    <title>@ViewBag.Title - 岁月</title>
</head>

<body>
    <!--导航部分-->
    @Html.Partial("LeftNav")
    @Html.Partial("_NavbarPage")
    <!--主体内容-->
    <div >
            @RenderBody()
    </div>
    <!--主题部分-->
    <!--底部版权部分-->
    @Html.Partial("_FooterPage")

  


    <script>

        //左侧导航菜单出现
        $('#menubtn').click(function () {
            $('.menu').fadeIn('100');
            setTimeout(function () {
                $('.menupage').css('margin-left', 0)
            }, 100)
        });

      

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>